<footer class="footer py-14">
    <div class="container mx-auto text-center">
        {{!-- Social Media - ./partials/components/social-media.hbs --}}
        {{> "components/social-media" class="footer-social-media"}}

        {{!-- Secondary Navigation --}}
        {{#if @site.secondary_navigation}}{{navigation type="secondary"}}{{/if}}

        <div class="footer-links">
            <div class="footerlinks-col1">
                <h3>Latest</h3>
                {{#foreach posts visibility="all" from="1" to="1"}}
                    {{!-- Like Home Top Section -> Most recent article - partials/story/story-cover.hbs --}}
                    {{> "story/story-cover" }}
                {{/foreach}}
            </div>
            <div class="footerlinks-col2">

            </div>
            <div class="footerlinks-col3">

            </div>
        </div>

        {{!-- Copyright  --}}
        <div class="text-sm mt-5 opacity-80">
            <span class="block mb-2">Copyright {{date format="YYYY"}}, {{@site.title}}. All Rights Reserved.</span>
            <span>Maintained by <a href="https://cyclick-development.co.uk" title="Cyclick Development">Cyclick Development</a></span>
        </div>
    </div>
</footer>