<footer class="footer py-14">
    <div class="container mx-auto text-center">
        {{!-- Social Media - ./partials/components/social-media.hbs --}}
        {{> "components/social-media" class="footer-social-media"}}


        <div class="footer-links">
            <div class="footerlinks-col">
                <h3>Films by Venue</h3>
                <ul>
                    <li><a href="/tag/bury-court-barn-wedding-video/">Bury Court Barn</a></li>
                    <li><a href="/tag/redhouse-barn-wedding-video/">Redhouse Barn</a></li>
                    <li><a href="/tag/swynford-manor-wedding-video/">Swynford Manor</a></li>
                    
                </ul>
            </div>
            <div class="footerlinks-col">
                <h3>Films by County</h3>
                <ul>
                    <li><a href="/tag/buckinghamshire-wedding-video/">Buckinghamshire</a></li>
                    <li><a href="/tag/cambridgeshire-wedding-video/">Cambridgeshire</a></li>
                    <li><a href="/tag/hertfordshire-wedding-video/">Hertfordshire</a></li>
                    <li><a href="/tag/oxfordshire-wedding-video/">Oxfordshire</a></li>
                </ul>
            </div>
            <div class="footerlinks-col">
                <h3>Films by Season</h3>
                <ul>
                    <li><a href="/tag/spring-wedding/">Spring Weddings</a></li>
                    <li><a href="/tag/summer-wedding/">Summer Weddings</a></li>
                    <li><a href="/tag/autumn-wedding/">Autumn Weddings</a></li>
                    <li><a href="/tag/winter-wedding/">Winter Weddings</a></li>
                </ul>
            </div>
        </div>
        
        {{!-- Secondary Navigation --}}
        {{#if @site.secondary_navigation}}{{navigation type="secondary"}}{{/if}}


        {{!-- Copyright  --}}
        <div class="text-sm mt-5 opacity-80">
            <span class="block mb-2">Copyright {{date format="YYYY"}}, {{@site.title}}. All Rights Reserved.</span>
            <span>Maintained by <a href="https://cyclick-development.co.uk" title="Cyclick Development">Cyclick Development</a></span>
        </div>
    </div>
</footer>