<footer class="footer py-14">
    <div class="container mx-auto text-center">
        {{!-- Social Media - ./partials/components/social-media.hbs --}}
        {{> "components/social-media" class="footer-social-media"}}


        <div class="footer-links">
            <div class="footerlinks-col">
                <h3>Films by Venue</h3>
                <ul>
                    <li><a href="#">Great Barn</a></li>
                    <li><a href="#">The Granary</a></li>
                    <li><a href="#">That Other Place</a></li>
                </ul>
            </div>
            <div class="footerlinks-col">
                <h3>Films by County</h3>
                <ul>
                    <li><a href="#">Bedfordshire</a></li>
                    <li><a href="#">Oxfordshire</a></li>
                    <li><a href="#">Cambridgeshire</a></li>
                </ul>
            </div>
            <div class="footerlinks-col">
                <h3>Films by Theme</h3>
                <ul>
                    <li><a href="#">Winter Weddings</a></li>
                    <li><a href="#">Autumn Weddings</a></li>
                    <li><a href="#">Unique Weddings</a></li>
                </ul>
            </div>
        </div>
        
        {{!-- Secondary Navigation --}}
        {{#if @site.secondary_navigation}}{{navigation type="secondary"}}{{/if}}


        {{!-- Copyright  --}}
        <div class="text-sm mt-5 opacity-80">
            <span class="block mb-2">Copyright {{date format="YYYY"}}, {{@site.title}}. All Rights Reserved.</span>
            <span>Maintained by <a href="https://cyclick-development.co.uk" title="Cyclick Development">Cyclick Development</a></span>
        </div>
    </div>
</footer>