<h3>Message Rachel</h3>
<p>Ready to make the best investment for your wedding? Use the contact page to find out if we're free on the dates you're considering. </p>
<div class="kg-card kg-button-card kg-align-center"><a href="/contact/" class="kg-btn kg-btn-accent">Contact</a></div>