<p>Ready to make the best investment for your wedding? Use the contact page to find out if we're free on your chosen date. </p>
<div class="kg-card kg-button-card kg-align-center"><a href="/contact/" class="kg-btn kg-btn-accent">Contact</a></div>